
:root {
  --background: #fff;
  --font-color: #494949;
}

#canvasContainer {
  min-width: 100%;
  min-height: 100%;
}

.Canvas {
  font-size: 14px;
  margin: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: #ebecf0;
}

.CanvasInner {
  grid-area: canvas;
  position: relative;
  z-index: 0;
  padding: 10px;
}

.Composition {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  -webkit-box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  -moz-box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  overflow: hidden;
}

.Layers {
  pointer-events: none;
  background: white;
}

/*Player*/

.playerWrapper {
  position: absolute;
  bottom: 20px;
  margin: 0;
  left: 0;
  right: 0;
  z-index: 99999999999;
  display: flex;
  justify-content: center;
}

.player {
  position: relative;
  align-items: center;
  display: flex;
}

.circles .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 100px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.player .play, .player .pause, .player .progress {
  display: inline-block;
  vertical-align: middle;
}

.player .play {
  border-left: 14px solid #333;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.player .pause {
  border-left: 4px solid #333;
  border-right: 4px solid #333;
  width: 14px;
  height: 16px;
  box-sizing: border-box;
}

.player input[type=range] {
  flex: auto;
}

.player input[type=range] {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.2);
  height: 3px;
  margin-left: 10px;
}

.player input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #333;
}

.player input[type=range]:focus {
  outline: none;
}
